*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  .iconPesquisar{
    margin-left: 10px;
  }
  .iconNav{
    margin-right: 3px;
  }
  
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 8px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #7e7c7c;
  border-radius: 20px;
}

.divGosh{
  color: #ab4100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}